@model List<Message>


    <h1>Outbox</h1>


    @foreach (var msg in Model)
    {



        <div>
            <strong>From:</strong> @msg.Receiver.UserName <br />
            <strong>Date:</strong> @msg.SentDate <br />
            <strong>Subject:</strong>
            <a asp-action="Details" asp-route-id="@msg.MessageID">@msg.Content.Substring(0, Math.Min(30, msg.Content.Length))</a>


        </div>

    }

















