
@{
    ViewData["Title"] = "Payment Confirmation";
}

<h1>@ViewData["Title"]</h1>

<p>Thank you for your pledge.</p>

@*@if (Model.Reward != null)
{
    <p>You have selected the reward tier: @Model.Reward.Title</p>
}

<p>Your support is greatly appreciated!</p>*@